# ---------------------------------------------
# Django
# ---------------------------------------------
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/
staticfiles/
static/

# Optional Django/Testing/Temp
.venv/
env/
venv/
pytest_cache/
.coverage
htmlcov/
*.sqlite3-journal

# ---------------------------------------------
# React
# ---------------------------------------------
node_modules/
build/
npm-debug.log
yarn-error.log
.env

# ---------------------------------------------
# Visual Studio Code
# ---------------------------------------------
.vscode/
.history/

# ---------------------------------------------
# OS-specific files (optional)
# ---------------------------------------------
.DS_Store
Thumbs.db


# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used for local dev overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
*tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# SSH Keys
*.pem
id_rsa
*.key

# Credentials
credentials.json
account.json
service-account.json


vars.env